body{
    background-image: url('pexels-pixabay-236148.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 7px;
    height: auto;
    width: auto;
  }
 .b{
    background-color: rgb(245, 201, 169);
    background-size: cover;
   width:100%;
   height: 175px;
   text-align: center;
   font-size: 25px;
   margin-top: 75px;

 } 
.f {
    margin-top: 20px;
}



#nav {
    list-style-type:  none;
   
    font-size: 29px;
    position: relative/absolute; 
   text-align:right; 
    
    

}


h1{
    font-size: 150px;
    text-align:center;
    color: antiquewhite;
    -webkit-text-stroke-width:2px ;
    -webkit-text-stroke-color:black ;

}
img
{
width: auto;

}
h3{
   
    text-decoration: underline;
}

h4{
    font-family: cursive;
    text-align: center;
}
#nav li
{
    display: inline-block; /* Display menu items horizontally */
    margin-right: 10px; /* Add spacing between menu items */
   margin-bottom: 12px;
}
#nav li a 
{
    text-decoration: none;
    color: #40ff00;
    font-weight: bold;
   margin-top: 25px;

}
 
#nav li a:hover
 {
    color:white;
    background-color:#ff8000;
  }

.button{
    background-color: rgb(83, 190, 233);
    color:black;
    width: 120px;
    height: 70px;
    font-size: 2rem;
    margin-left: 700px;
    border-radius: 30px;
}

#menu {
    list-style-type:  none;
   
    font-size: 29px;
    position: relative/absolute; 
   text-align:center; 
}
#menu li
{
    display: inline-block; /* Display menu items horizontally */
    margin-right: 20px; /* Add spacing between menu items */
   margin-bottom: 12px;
}
#menu li a
{
    text-decoration: none;
    color: #148ddf;
    font-weight: normal;
   margin-top: 25px;
   -webkit-text-stroke-width:2px ;
   -webkit-text-stroke-color:black 

}
#menu li a:hover
 {
    color:white;
    background-color:#ff8000;
  }